<!-- FOOTER =============================-->
<div class="footer text-center">
  <div class="container">
    <div class="row">
      <p class="footernote">Connect with blackmarket</p>
      <ul class="social-iconsfooter">
        <li>
          <a href="#"><i class="fa fa-phone"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-instagram"></i></a>
        </li>
      </ul>
      <p>Copyright &copy; 2021 blackmarket<br /></p>
    </div>
  </div>
</div>
