<!-- HEADER =============================-->
<header class="item header margin-top-0">
  <div class="wrapper">
    <nav
      role="navigation"
      class="navbar navbar-white navbar-embossed navbar-lg navbar-fixed-top"
    >
      <div class="container">
        <div class="navbar-header">
          <button
            data-target="#navbar-collapse-02"
            data-toggle="collapse"
            class="navbar-toggle"
            type="button"
          >
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a href="/" class="navbar-brand brand"> blackmarket.jkt </a>
        </div>
        <div id="navbar-collapse-02" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="propClone"><a href="/">Home</a></li>
            <li class="propClone"><a href="/shop">Shop</a></li>
            <li class="propClone"><a href="/product">Product</a></li>
            <li class="propClone"><a href="/chekout">Checkout</a></li>
            <li class="propClone"><a href="/contact">Contact</a></li>
            <li class="propClone">
              <a href="./register_blackmarket/register.html">Register</a>
            </li>
            <li class="propClone">
              <a href="./login_blackmarket/login.html">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
