<!-- HEADER =============================-->
<header class="item header margin-top-0">
    <div class="wrapper">
<div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="text-homeimage">
          <div
            class="maintext-image"
            data-scrollreveal="enter top over 1.5s after 0.1s"
          >
            From blackmarket
          </div>
          <div
            class="subtext-image"
            data-scrollreveal="enter bottom over 1.7s after 0.3s"
          >
            we show
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </header>
<!-- NEW Product =============================-->
<section class="item content">
	<div class="container">
		<div class="underlined-title">
			<div class="editContent">
				<h1 class="text-center latestitems">NEW Product</h1>
			</div>
			<div class="wow-hr type_short">
				<span class="wow-hr-h">
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				</span>
			</div>
		</div>
		<div class="row">
			<!-- /.productbox -->
			<div class="col-md-4">
				<div class="productbox">
					<div class="fadeshop">
						<div class="captionshop text-center" style="display: none;">
							<h3>Item Name</h3>
							<p>
								MIGHTY DUCKS MEGA PRINT VINTAGE TEE BY STARTER
							</p>
							<p>
								<a href="#" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i> Purchase</a>
								<a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> Details</a>
							</p>
						</div>
						<span class="maxproduct"><img src="images/baju/bajuMerah1.jpg" alt=""></span>
					</div>
					<div class="product-details">
						<a href="#">
						<h1>MIGHTY DUCKS</h1>
						</a>
						<span class="price">
						<span class="edd_price">Rp.399.000</span>
						</span>
					</div>
				</div>
			</div>
			<!-- /.productbox -->
			<div class="col-md-4">
				<div class="productbox">
					<div class="fadeshop">
						<div class="captionshop text-center" style="display: none;">
							<h3>Item Name</h3>
							<p>
								PLUTO VINTAGE TIE DYE TEE
							</p>
							<p>
								<a href="./login_blackmarket/index.html" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i> Purchase</a>
								<a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> Details</a>
							</p>
						</div>
						<span class="maxproduct"><img src="images/baju/bajuIjo2.jpg" alt=""></span>
					</div>
					<div class="product-details">
						<a href="#">
						<h1>PLUTO TIEDYETEE</h1>
						</a>
						<span class="price">
						<span class="edd_price">Rp.299.000</span>
						</span>
					</div>
				</div>
			</div>
			<!-- /.productbox -->
			<div class="col-md-4">
				<div class="productbox">
					<div class="fadeshop">
						<div class="captionshop text-center" style="display: none;">
							<h3>Item Name</h3>
							<p>
								MICKEY MOUSE ALL OVER PRINT VINTAGE EARLY 00’ TEE DISNEY JAPAN
							</p>
							<p>
								<a href="#" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i> Purchase</a>
								<a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> Details</a>
							</p>
						</div>
						<span class="maxproduct"><img src="images/baju/bajuPutih3.jpg" alt=""></span>
					</div>
					<div class="product-details">
						<a href="#">
						<h1>Mickey Disney japan </h1>
						</a>
						<span class="price">
						<span class="edd_price">Rp.149.000</span>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<!-- /.productbox -->
			<div class="col-md-4">
				<div class="productbox">
					<div class="fadeshop">
						<div class="captionshop text-center" style="display: none;">
							<h3>Item Name</h3>
							<p>
								TERMINATOR 2 VINTAGE UNIVERSAL STUDIO TEE.
							</p>
							<p>
								<a href="#" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i> Purchase</a>
								<a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> Details</a>
							</p>
						</div>
						<span class="maxproduct"><img src="images/baju/bajuAbu4.jpg" alt=""></span>
					</div>
					<div class="product-details">
						<a href="#">
						<h1>TERMINATOR 2 UNIVERSAL STUDIO </h1>
						</a>
						<span class="price">
						<span class="edd_price">Rp.199.00</span>
						</span>
					</div>
				</div>
			</div>
			<!-- /.productbox -->
			<div class="col-md-4">
				<div class="productbox">
					<div class="fadeshop">
						<div class="captionshop text-center" style="display: none;">
							<h3>Item Name</h3>
							<p>
								PLANET HOLLYWOOD VINTAGE TEE.
							</p>
							<p>
								<a href="#" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i> Purchase</a>
								<a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> Details</a>
							</p>
						</div>
						<span class="maxproduct"><img src="images/baju/bajuHitam5.jpg" alt=""></span>
					</div>
					<div class="product-details">
						<a href="#">
						<h1>Planet Hollywood UNIVERSAL</h1>
						</a>
						<span class="price">
						<span class="edd_price">Rp.299.000</span>
						</span>
					</div>
				</div>
			</div>
			<!-- /.productbox -->
			<div class="col-md-4">
				<div class="productbox">
					<div class="fadeshop">
						<div class="captionshop text-center" style="display: none;">
							<h3>Item Name</h3>
							<p>
								AUSSIE THEMES ALL OVER PRINT VINTAGE.
							</p>
							<p>
								<a href="#" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i> Purchase</a>
								<a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> Details</a>
							</p>
						</div>
						<span class="maxproduct"><img src="images/baju/bajuBiru6.jpg" alt=""></span>
					</div>
					<div class="product-details">
						<a href="#">
						<h1>AUSSIE THEMES ALL OVER PRINT </h1>
						</a>
						<span class="price">
						<span class="edd_price">Rp 399.000</span>
						</span>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
</section>

<!-- BUTTON =============================-->
<div class="item content">
	<div class="container text-center">
		<a href="shop.html" class="homebrowseitems">Browse All Products
		<div class="homebrowseitemsicon">
			<i class="fa fa-star fa-spin"></i>
		</div>
		</a>
	</div>
</div>
<br/>

<!-- TESTIMONIAL =============================-->
<div class="item content">
	<div class="container">
		<div class="col-md-10 col-md-offset-1">
			<div class="slide-text">
				<div>
					<h2><span class="uppercase">Awesome Support</span></h2>
					<img src="images/Thrifting sticker.jpg" alt="Awesome Support">
					<p>
						the magic of shopping secondhand is that you dont find the right clothes 
												the right clothes find you <br
					</p>
					<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
				</div>
			</div>
		</div>
	</div>
</div>
<br>

