

<!-- HEADER =============================-->
<header class="item header margin-top-0">
<div class="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="text-pageheader">
					<div class="subtext-image" data-scrollreveal="enter bottom over 1.7s after 0.1s">
						 Shop
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</header>

<!-- CONTENT =============================-->
<section class="item content">
<div class="container toparea">
	<div class="underlined-title">
		<div class="editContent">
			<h1 class="text-center latestitems">Jaket</h1>
		</div>
		<div class="wow-hr type_short">
			<span class="wow-hr-h">
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="productbox">
				<div class="fadeshop">
					<div class="captionshop text-center" style="display: none;">
						<h3>Item Name</h3>
						<p>
							NAUTICA J-CLASS VINTAGE SAILING GEAR
						</p>
						<p>
							<a href="#" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i> Purchase</a>
							<a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> Details</a>
						</p>
					</div>
					<span class="maxproduct"><img src="images/jaket/jaketIjo1.jpg" alt=""></span>
				</div>
				<div class="product-details">
					<a href="#">
					<h1>NAUTICA J-CLASS</h1>
					</a>
					<span class="price">
					<span class="edd_price">Rp.499.000</span>
					</span>
				</div>
			</div>
		</div>
		<!-- /.productbox -->
		<div class="col-md-4">
			<div class="productbox">
				<div class="fadeshop">
					<div class="captionshop text-center" style="display: none;">
						<h3>Item Name</h3>
						<p>
							SNAP ON RACING VINTAGE COLOR BLOCK 
						</p>
						<p>
							<a href="#" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i> Purchase</a>
							<a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> Details</a>
						</p>
					</div>
					<span class="maxproduct"><img src="images/jaket/jaketIjo2.jpg" alt=""></span>
				</div>
				<div class="product-details">
					<a href="#">
					<h1>SNAP ON RACING COLOR BLOCK </h1>
					</a>
					<span class="price">
					<span class="edd_price">Rp.699.000</span>
					</span>
				</div>
			</div>
		</div>
		<!-- /.productbox -->
		<div class="col-md-4">
			<div class="productbox">
				<div class="fadeshop">
					<div class="captionshop text-center" style="display: none;">
						<h3>Item Name</h3>
						<p>
							AIR JORDAN ELEPHANT PRINT TRACKTOP
						</p>
						<p>
							<a href="#" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i> Purchase</a>
							<a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> Details</a>
						</p>
					</div>
					<span class="maxproduct"><img src="images/jaket/jaketHitem3.jpg" alt=""></span>
				</div>
				<div class="product-details">
					<a href="#">
					<h1>AIR JORDAN ELEPHANT</h1>
					</a>
					<span class="price">
					<span class="edd_price">Rp.749.000</span>
					</span>
				</div>
			</div>
		</div>
		<!-- /.productbox -->
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="productbox">
				<div class="fadeshop">
					<div class="captionshop text-center" style="display: none;">
						<h3>Item Name</h3>
						<p>
							NIKE VINTAGE COLOR BLOCK TRACKTOP.
						</p>
						<p>
							<a href="#" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i> Purchase</a>
							<a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> Details</a>
						</p>
					</div>
					<span class="maxproduct"><img src="images/jaket/jaketRainbow4.jpg" alt=""></span>
				</div>
				<div class="product-details">
					<a href="#">
					<h1>NIKE VINTAGE COLOR BLOCK </h1>
					</a>
					<span class="price">
					<span class="edd_price">Rp.350.000</span>
					</span>
				</div>
			</div>
		</div>


		<!-- /.productbox -->
		<div class="col-md-4">
			<div class="productbox">
				<div class="fadeshop">
					<div class="captionshop text-center" style="display: none;">
						<h3>Item Name</h3>
						<p>
							VINTAGE NIKE COLOR BLOCK TRACKTOP.
						</p>
						<p>
							<a href="#" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i> Purchase</a>
							<a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> Details</a>
						</p>
					</div>
					<span class="maxproduct"><img src="images/jaket/jaketBiru5.jpg" alt=""></span>
				</div>
				<div class="product-details">
					<a href="#">
					<h1>Nike color blue sky</h1>
					</a>
					<span class="price">
					<span class="edd_price">Rp.499.000</span>
					</span>
				</div>
			</div>
		</div>
		<!-- /.productbox -->
		<div class="col-md-4">
			<div class="productbox">
				<div class="fadeshop">
					<div class="captionshop text-center" style="display: none;">
						<h3>Item Name</h3>
						<p>
							JEAN CHARLES DE CASTELBAJAC SPORT VINTAGE JACKET
						</p>
						<p>
							<a href="#" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i> Purchase</a>
							<a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> Details</a>
						</p>
					</div>
					<span class="maxproduct"><img src="images/jaket/jaketUngu6.jpg" alt=""></span>
				</div>
				<div class="product-details">
					<a href="#">
					<h1>JEAN CHARLES DE CASTELBAJAC</h1>
					</a>
					<span class="price">
					<span class="edd_price">Rp.299.000</span>
					</span>
				</div>
			</div>
		</div>
		
	</div>
</div>
</div>
</section>

<!-- CONTENT =============================-->
<section class="item content">
	<div class="container toparea">
		<div class="underlined-title">
			<div class="editContent">
				<h1 class="text-center latestitems">Sepatu</h1>
			</div>
			<div class="wow-hr type_short">
				<span class="wow-hr-h">
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="productbox">
					<div class="fadeshop">
						<div class="captionshop text-center" style="display: none;">
							<h3>Item Name</h3>
							<p>
								Nike Internasional Chicago size 42 
											28cm
							</p>
							<p>
								<a href="#" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i> Purchase</a>
								<a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> Details</a>
							</p>
						</div>
						<span class="maxproduct"><img src="images/sepatu/sepatuairjordan6.jpg" alt=""></span>
					</div>
					<div class="product-details">
						<a href="#">
						<h1>Nike Internasional Chicago</h1>
						</a>
						<span class="price">
						<span class="edd_price">$49.00</span>
						</span>
					</div>
				</div>
			</div>
			<!-- /.productbox -->
			<div class="col-md-4">
				<div class="productbox">
					<div class="fadeshop">
						<div class="captionshop text-center" style="display: none;">
							<h3>Item Name</h3>
							<p>
								 This is a short excerpt to generally describe what the item is about.
							</p>
							<p>
								<a href="#" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i> Purchase</a>
								<a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> Details</a>
							</p>
						</div>
						<span class="maxproduct"><img src="images/sepatu/sepatunike1.jpg" alt=""></span>
					</div>
					<div class="product-details">
						<a href="#">
						<h1>
							Nike Air Force 1 Have A Nike Day</h1>
						</a>
						<span class="price">
						<span class="edd_price">Rp.899.000</span>
						</span>
					</div>
				</div>
			</div>
			<!-- /.productbox -->
			<div class="col-md-4">
				<div class="productbox">
					<div class="fadeshop">
						<div class="captionshop text-center" style="display: none;">
							<h3>Item Name</h3>
							<p>
								 This is a short excerpt to generally describe what the item is about.
							</p>
							<p>
								<a href="#" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i> Purchase</a>
								<a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> Details</a>
							</p>
						</div>
						<span class="maxproduct"><img src="images/sepatu/sepatunike2.jpg" alt=""></span>
					</div>
					<div class="product-details">
						<a href="#">
						<h1>Nike AF-1 Peaceminusone</h1>
						</a>
						<span class="price">
						<span class="edd_price">Rp.849.000</span>
						</span>
					</div>
				</div>
			</div>
			<!-- /.productbox -->
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="productbox">
					<div class="fadeshop">
						<div class="captionshop text-center" style="display: none;">
							<h3>Item Name</h3>
							<p>
								 This is a short excerpt to generally describe what the item is about.
							</p>
							<p>
								<a href="#" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i> Purchase</a>
								<a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> Details</a>
							</p>
						</div>
						<span class="maxproduct"><img src="images/sepatu/sepatunike3.jpg" alt=""></span>
					</div>
					<div class="product-details">
						<a href="#">
						<h1>
							NIKE AIR MONARCH IV</h1>
						</a>
						<span class="price">
						<span class="edd_price">Rp.650.000</span>
						</span>
					</div>
				</div>
			</div>
	
	
			<!-- /.productbox -->
			<div class="col-md-4">
				<div class="productbox">
					<div class="fadeshop">
						<div class="captionshop text-center" style="display: none;">
							<h3>Item Name</h3>
							<p>
								 This is a short excerpt to generally describe what the item is about.
							</p>
							<p>
								<a href="#" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i> Purchase</a>
								<a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> Details</a>
							</p>
						</div>
						<span class="maxproduct"><img src="images/sepatu/sepatunikebz4.jpg" alt=""></span>
					</div>
					<div class="product-details">
						<a href="#">
						<h1>
								Nike Air Force 1 Dark Teal</h1>
						</a>
						<span class="price">
						<span class="edd_price">
									Rp499.000</span>
						</span>
					</div>
				</div>
			</div>
			<!-- /.productbox -->
			<div class="col-md-4">
				<div class="productbox">
					<div class="fadeshop">
						<div class="captionshop text-center" style="display: none;">
							<h3>Item Name</h3>
							<p>
								 This is a short excerpt to generally describe what the item is about.
							</p>
							<p>
								<a href="#" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i> Purchase</a>
								<a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> Details</a>
							</p>
						</div>
						<span class="maxproduct"><img src="images/sepatu/sepatunike5.jpg" alt=""></span>
					</div>
					<div class="product-details">
						<a href="#">
						<h1>Nike 97 Rush Pink</h1>
						</a>
						<span class="price">
						<span class="edd_price">Rp.499.000</span>
						</span>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	</div>
	</section>
	

<!-- FOOTER =============================-->
<div class="footer text-center">
	<div class="container">
		<div class="row">
			<p class="footernote">
				 Connect with blackmarket
			</p>
			<ul class="social-iconsfooter">
				<li><a href="#"><i class="fa fa-phone"></i></a></li>
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-instagram"></i></a></li>
			</ul>
			<p>
				Copyright &copy; 2021 blackmarket<br/>
				
			</p>
		</div>
	</div>
</div>

